body {
  background-color: #8f4426;
  font-family: cursive;
}

p {

  color: #fff7d6;
  text-shadow: 0.5px 0.30px #ffd739;
}


label {

  color: #ffd369;
  text-shadow: 0.5px 0.30px #aaaaaa
}

h1 {
  color: #ffe7d1;
  text-align: center;
  text-shadow: 0.5px 0.30px #ffd739;
}

h3 {
  color: #ffe7d1;
  text-shadow: 0.5px 0.30px #ffd739;
}

hr {
  background-color: inherit;
  border-style: dotted none none;
  border-width: 7px;
  border-color: #f2eee5;
  width: 5%;
}

img {
  height: 500px;
  width: 250px;
}
